<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header class="no-nav">
        <a href="{{ url_for('home')}}"><img src="../static/images/logo.png" alt="Logo"></a>
    </header>
    <main>
        <h1>Login</h1>
        <form action="{{ url_for('efetuarLogin')}}" method="POST">
            <input type="email" name="email" id="email" placeholder="Email"/>
            <input type="password" name="senha" placeholder="Senha"/>
            <input type="submit" value="Enviar" class="btn-enviar"/>
        </form>
    </main>
    <footer>
        <p>Desenvolvido por <a href="https://github.com/MateusTama" target="_blank">Mateus Tamasia</a></p>
    </footer>
</body>
</html>