<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ usuario_nome }}</title>
</head>
<body>
    <header class="no-nav">
        <a href="{{ url_for('home')}}"><img src="../static/images/logo.png" alt="Logo"></a>
    </header>
    <!-- Atualizar variáveis, fazer a rota e arrumar no visualizar_produto -->
    <main>
        <h1>Usuário</h1>
        <p>Nome: {{ usuario_nome }}</p>
        <p>Email: {{ usuario_email }}</p>
        <h1 class="afastamento">Produtos:</h1>
        {% if produtos_usuario %}
            {% for produto in produtos_usuario %}
                <article>
                    <h2>{{ produto[1] }}</h2>
                    <a href="{{ url_for('visualizar_produto', produto_id = produto[0])}}">
                        <img src="{{ url_for('static', filename='images/upload/' + produto[4])}}" alt="imagem produto" class="images">
                    </a>
                </article>
            {% endfor %}
        {% else %}
            <p>Esse usuário não possui produtos cadastrados.</p>
        {% endif %}
    </main>
    <footer>
        <p>Desenvolvido por <a href="https://github.com/MateusTama" target="_blank">Mateus Tamasia</a></p>
    </footer>
</body>
</html>