<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ produto["titulo"] }}</title>
</head>
<body>
    <header class="no-nav">
        <a href="{{ url_for('home')}}"><img src="../static/images/logo.png" alt="Logo"></a>
    </header>
    <main>
        <article>
            <h2>{{ produto["titulo"] }}</h2>
            <p>Descrição: {{ produto["descricao"] }}</p>
            <img src="{{ url_for('static', filename='images/upload/' + produto['imagem'])}}" alt="imagem produto" class="images">
            <h3>Valor: {{ produto["valor"] }}</h3>
            <p>Vendedor: <a href="{{url_for('user_perfil', user_id = produto['id_usuario_produto'])}}"><strong>{{ nome_usuario }}</strong></a></p>
        </article>
    </main>
    <footer>
        <p>Desenvolvido por <a href="https://github.com/MateusTama" target="_blank">Mateus Tamasia</a></p>
    </footer>
</body>
</html>